@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 auto;
  
}
body {
  
  font-family: 'Nunito', sans-serif
  
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 1; 
}

@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }

  .column {
    width: 100%;
    align-items: center;  
  }
}

.hamburger{
  background-color: rgb(67, 52, 67);
  z-index: 1;
}
.animate {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #2196f3;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0; /* initially set to transparent */
  transition: opacity 0.3s ease-in-out;
}

.scroll-to-top.visible {
  opacity: 1; /* visible when isScrolled is true */
}

.scroll-to-top:hover {
  background-color: #0e70a4;
}
